header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: lightgray;
}

.imgBox{
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap:15px;
}

.imgBox img{
    border-radius:100%;
    width:60px;
}

.inputSearch{
    display: flex;
    gap: 15px;
    width: 40%;
}

.inputSearch input{
    padding: 10px 20px;
    width: 100%;
}
.inputSearch button{
    font-size: large;
    font-weight: 700;
    padding: 10px ;
}

@media (max-width:768px){
    .imgBox{
        padding:0;
    }
}