.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 0;
  background-color: black;
}

.red.on {
  background-color: red;
}

.yellow.on {
  background-color: yellow;
}

.green.on {
  background-color: green;
}